{% extends "layout.html" %}
{% block body %}
    <h2>{{blog.title}}</h2>
    {% if session.cur_user_id == blog.userid %}
    {% endif %}
    <p>{{blog.text|safe}}</p>
    {% if session.logged_in %}
        <form action="{{ url_for('comment', blogid=blog.blogid) }}" method="post" class="comment-form">
        <dl>
            <dt>Comment:</dt>
            <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
            <dd><input type="submit" value="comment"></dd>
        </dl>
        </form>
    {% endif %}
    <h5>comment list</h5>
    <ul class="comments">
    {% for comment in comments %}
        <li>
            <h5>Writen by user:{{ comment.comment_by_id }}</h5>
            <p>{{ comment.comment_text }}</p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}